:root{
    --bg--black: #0f0f0f;
    --txt-white: #f8f8f8;
    --bg-grey: rgba(39,43,45,0.42);
    --bg-red:rgb(238, 47, 76);
    --box-shadow:rgb(176 176 178 / 16%) 0px -5px 6px 0px inset, rgb(0 0 0 / 24%) 4px 6px 11px 1px inset;
    --grey:rgb(33, 36, 38);
    --green: rgb(2, 119, 87);

}